.Portfolio{
    width: 100%;
    height: auto;
}
//Portfolio_bir
.Portfolio_bir{
    display: flex;
    width: 1519px;
    height: 650px;
    margin: 0 auto;
    border: 1px solid red;
}

//Portfolio_ikki

.Portfolio_ikki{
    display: flex;
    width: 1519px;
    height: 1050px;
    margin: 0 auto;
    border: 1px solid red;
}


//Portfolio_uch

.Portfolio_uch{
    display: flex;
    width: 1519px;
    height: 550px;
    margin: 0 auto;
    border: 1px solid red;
}