.About{
    width: 100%;
    height: auto;
}

//about_content

.about_content{
    display: flex;
    width: 1519px;
    height: 650px;
    margin: 0 auto;
    border: 1px solid red;
}

//about_name

.about_name{
    display: flex;
    width: 1519px;
    height: 350px;
    margin: 0 auto;
    border: 1px solid red;
}